.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px;
  }
  
  .card {
    width: calc(32.33% - 26.66px);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .card.orange {
    background-color: rgba(188, 161, 214, 0.497);
  }
  
  .card.lightblue {
    background-color: rgba(19, 144, 212, 0.286)
  }
  
  .card.lightgreen {
    background-color: rgba(158, 172, 48, 0.576);
  }
  
  .card img {
    width: 100%;
    height: 67%;
    border-radius: 5px;
  }
  .card .title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .card .description {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .card .price {
    margin-top: 10px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }